html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#landingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 98vh;
  overflow: hidden;
}

h1,
ul,
p,
a,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-size: 1.7em;
}

p,
a,
ul {
  font-size: 0.9em;
}

.image img {
  max-width: 455px;
  border-radius: 20px;
}

.updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
}

.updates p {
  text-align: center;
  max-width: 560px;
  line-height: 1.7;
}

.back {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 0.75em;
}

.page-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content a {
  display: inline-block;
  margin: 10px;
}

.content a:link,
.back a:link {
  color: black;
}

.content a:visited,
.back a:visited {
  color: black;
}

.content a:hover,
.back a:hover {
  color: grey;
}

.content a:active,
.back a:active {
  color: black;
}

@media (max-width: 500px) {
  .image img {
    max-width: 300px;
  }
}
