#landingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 95vh;
}

.image img {
  max-width: 400px;
}

.content a {
  display: inline-block;
  margin: 10px;
}

.content a:link,
.back a:link {
  color: black;
}

.content a:visited,
.back a:visited {
  color: black;
}

.content a:hover,
.back a:hover {
  color: black;
}

.content a:active,
.back a:active {
  color: black;
}

.back {
  margin: 45px;
}
