h1,
p,
a,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-size: 1.7em;
}

p,
a {
  font-size: 0.9em;
}

#sports-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-home {
  margin: 45px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sports-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sports-card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  width: auto;
  height: auto;
}

.sports-card img {
  width: 400px;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
  overflow: hidden;
}

.sports-card p {
  max-width: 400px;
}

.content a {
  display: inline-block;
  margin: 10px;
}

.content a:link,
.back-to-home a:link {
  color: black;
}

.content a:visited,
.back-to-home a:visited {
  color: black;
}

.content a:hover,
.back-to-home a:hover {
  color: grey;
}

.content a:active,
.back-to-home a:active {
  color: black;
}

@media (max-width: 500px) {
  .sports-card img {
    max-width: 300px;
  }
}
