#sports-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-home {
  margin: 45px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sports-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sports-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  height: auto;
}

.sports-card img {
  width: 400px;
  height: 250px;
  object-fit: contain;
  border-radius: 5px;
  overflow: hidden;
}

#sports-page img {
  border-radius: 5px;
}

.sports-card p {
  max-width: 400px;
}

.content a {
  display: inline-block;
  margin: 10px;
}

.content a:link,
.back-to-home a:link {
  color: black;
}

.content a:visited,
.back-to-home a:visited {
  color: black;
}

.content a:hover,
.back-to-home a:hover {
  color: grey;
}

.content a:active,
.back-to-home a:active {
  color: black;
}
