.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-home {
  display: inline-block;
  margin: 65px;
}

.art-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.art-image {
  margin: 10px;
  display: inline-block;
}

.art-images img {
  max-width: 200px;
  border-radius: 5px;
}

.art-image p {
  margin-top: 6px; /* changes default space from image to text in css */
  margin-bottom: 0;
  max-width: 200px; /* matches image width so text wraps to same width */
}

.content a {
  display: inline-block;
  margin: 10px;
}

.content a:link,
.back-to-home a:link {
  color: black;
}

.content a:visited,
.back-to-home a:visited {
  color: black;
}

.content a:hover,
.back-to-home a:hover {
  color: grey;
}

.content a:active,
.back-to-home a:active {
  color: black;
}
