h1,
p,
a,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-size: 1.7em;
}

p,
a,
li {
  font-size: 0.9em;
}

#school-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-home {
  margin: 65px;
}

.line {
  width: 65%;
  height: 1px;
  background-color: #000;
  margin: 20px 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 0;
  justify-content: center;
}

.description {
  max-width: 600px;
  margin: 0;
}

.description-and-socials {
  margin-left: 35px;
}

.school-list {
  list-style: none;
  padding-left: 0px;
}

.school-list li {
  margin: 0.2em 0;
  padding-left: 0px;
}

.school-list li::before {
  content: "❂";
  margin-right: 0.3em;
}

.socials {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

.socials a:first-child {
  margin-left: 0;
}

.uoft-gate img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.content a {
  display: inline-block;
  margin: 10px;
}

.content a:link,
.back-to-home a:link {
  color: black;
}

.content a:visited,
.back-to-home a:visited {
  color: black;
}

.content a:hover,
.back-to-home a:hover {
  color: grey;
}

.content a:active,
.back-to-home a:active {
  color: black;
}

@media (max-width: 500px) {
  .uoft-gate img {
    max-width: 300px;
  }
}
